fullscreen()
  width: 1920px
  height: 1080px
  position: absolute
  left: 0 unless @left
  top: 0 unless @top
  box-sizing: border-box
  z-index: 1 unless @z-index

absolute(left = auto, top = auto, right = auto, bottom = auto)
  position: absolute
  left: left if left
  top: top if top
  right: right if right
  bottom: bottom if bottom

size(num)
  round(num * 1.5)
