<script>
import screenMixin from '../mixins/screen'
import VideoPlayer from './player/VideoPlayer'
import TimeLeft from './player/TimeLeft'
import ProgressBar from './player/ProgressBar'
import NEXT_TRAILER_QUERY from '@/graphql/NextTrailer.graphql'

export default {
  name: 'Trailers',
  mixins: [screenMixin],
  props: ['primaryTrailer'],
  components: {
    VideoPlayer,
    TimeLeft,
    ProgressBar
  },
  data() {
    return {
      defaultFocus: 'watch',
      play: false,
      currentIndex: 0,
      title: ' ',
      trailerList: [],
      // currentId: 0,
      video: null,
      // currentURL: '',
      currentTrailer: {},
      isLoaded: false,
      videoState: 'stopped',
      hideUITimeoutId: null,
      hideUITime: 5e3,
      UIShown: true
    }
  },
  apollo: {
    nextTrailer: {
      query: NEXT_TRAILER_QUERY,
      manual: true,
      fetchPolicy: 'network-only',
      result(...data) {
        this.nextTrailerOnResult(...data)
      },
      error(...data) {
        this.nextTrailerOnError(...data)
      },
      skip() {
        return !(
          this.trailerList.length > 0 && !this.trailerList[this.currentIndex]
        )
      }
    }
  },
  methods: {
    videoEnded() {
      this.skip()
    },
    skip() {
      this.currentIndex++
      if (!this.trailerList[this.currentIndex]) {
        this.nextTrailer()
      } else {
        this.currentTrailer = this.trailerList[this.currentIndex]
      }
      this.showUI()
    },
    prev() {
      if (this.currentIndex > 0) {
        this.currentIndex--
        this.currentTrailer = this.trailerList[this.currentIndex]
      }
    },
    playPause() {
      this.video.playPause()
    },
    videoStateChanged(state) {
      this.videoState = state
      this.showUI()
    },
    showUI(data = {}) {
      this.UIShown = true

      this.$nextTick(() => {
        if (!this.$focus.current && !data.mouse) {
          this.onFocus()
        }
      })

      clearTimeout(this.hideUITimeoutId)
      this.hideUITimeoutId = setTimeout(() => {
        if (this.videoState !== 'playing') return

        this.UIShown = false
        this.$focus.current && this.$focus.current.blur()
      }, this.hideUITime)
    },
    mousemove() {
      this.showUI({ mouse: true })
    },
    nextTrailerOnResult({ data, networkStatus }) {
      // https://www.apollographql.com/docs/react/basics/queries.html#graphql-query-data-networkStatus'
      if (!data || networkStatus !== 7) {
        // console.log('App.vue fetchMainOnResult')
        this.isLoaded = false
        return
      }
      this.isLoaded = true
      this.currentTrailer = data.next_trailer
      this.trailerList.push(data.next_trailer)
    },
    nextTrailerOnError(e) {
      console.log('nextTrailerOnError', e)
      if (this.isLoaded) this.isLoaded = false
      // setTimeout(() => {
      //   this.fetchMain()
      // }, 5000)
    },
    nextTrailer() {
      this.$apollo.queries.nextTrailer.refetch()
    }
  },

  watch: {
    // records() {
    //   this.currentId = this.records[this.currentIndex].id

    //   if (!this.record.id && this.currentId) {
    //     this.$apollo.queries.record.refresh()
    //   }
    // },
    primaryTrailer() {
      if (this.primaryTrailer && this.primaryTrailer.id) {
        this.trailerList.push(this.primaryTrailer)
        this.currentTrailer = this.primaryTrailer
      }
    },
    currentTrailer() {
      if (this.currentTrailer && this.currentTrailer.id) {
        this.video && this.video.playURL(this.currentTrailer.url)
        this.title = this.currentTrailer.name
      }
    }
  },

  mounted() {
    this.video = this.$refs.video
    // this.currentId = this.records[this.currentIndex].id
    // if (this.records.length) {
    //   let trailerId = this.$route.params.trailerId
    //   if (trailerId) {
    //     this.currentIndex = this.records.findIndex(rec => rec.id === trailerId)
    //   }

    //   this.currentId = this.records[this.currentIndex].id
    // }

    this.$on('keypress', () => this.showUI())
    this.$on('longpress', e => {
      if (e.which === this.$focus.keys.RIGHT) {
        this.skip()
      } else if (e.which === this.$focus.keys.LEFT) {
        this.prev()
      }
    })

    this.$refs.progressBar.$on('seek', e => this.$refs.video.seek(e.time))

    this.showUI()
  },

  updated() {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus">
@import './Trailer.styl'
</style>

<template>
  <div class="trailers" @mousemove="mousemove">
    <!-- html5 player is used everywhere -->
    <video-player
      ref="video"
      @statechange="videoStateChanged"
      @ended="videoEnded">
    </video-player>

    <div class="player-ui" :class="{hidden: !UIShown}">
      <div class="gradient"></div>
      <div class="logo"></div>
      <div class="top-nav">
        <nav-item class="selected">Что посмотреть</nav-item>
        <nav-item>Мой плейлист</nav-item>
        <nav-item>Кабинет</nav-item>
      </div>
      <nav-item class="icon search"><img src="@/assets/icons/search.svg"></nav-item>
      <div class="title">{{ title }}</div>
      <div class="info">
        <span class="age">16+</span> 2017  •  1ч 34м  •  РОССИЯ, США  •  ДРАМА, ФЭНТЕЗИ
      </div>
      <div class="controls">
        <nav-item ref="prev" @action="prev" class="icon"><img src="@/assets/icons/back.svg"></nav-item>
        <nav-item ref="watch" class="watch" v-i18n:playerWatchFilm></nav-item>
        <nav-item ref="playPause" @action="playPause" class="icon">
          <img v-show="videoState !== 'playing'" src="@/assets/icons/play.svg">
          <img v-show="videoState === 'playing'" src="@/assets/icons/pause.svg">
        </nav-item>
        <nav-item ref="skip" @action="skip" class="icon"><img src="@/assets/icons/skip_next.svg"></nav-item>
        <nav-item ref="fav" @action="showPopup('alert')" class="icon"><img src="@/assets/icons/add_off.svg"></nav-item>
        <div class="right">
          <time-left />
        </div>
      </div>

      <progress-bar ref="progressBar"></progress-bar>
    </div>
  </div>
</template>
