@import '~@/style/vars.styl'

video
  fullscreen()
  background: #000

.player-ui
  padding: 64px 112px 0
  fullscreen()
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 18.88%, #000000 100%);
  opacity: 1
  transition: opacity .5s ease-in-out

  &.hidden
    opacity: 0

  .gradient
    background-image: linear-gradient(to top, rgba(0,0,0,0.00) 0%, #000000 100%)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 204px
    opacity: 0.7

  .logo
    width: 32px
    height: @width
    transform: rotate(45deg)
    background: #F8E71C
    border-radius: 4px
    margin-top: 12px

  .icon
    width: 56px
    height: @width
    text-align: center
    line-height: @height
    vertical-align: middle

    img
      vertical-align: middle
      opacity: 0.7
      width: 56px
      height: @width

    &.focused img
      opacity: 1

  .icon.search
    absolute(null, 76px, 124px)

  .top-nav
    text-align: center
    font-size: 0
    height: size(40px)
    line-height: @height
    position: absolute
    left: 0
    width: 100%
    top: size(40px)

    .nav-button
      display: inline-block
      opacity: 0.7
      font-weight: 500
      font-size: size(14px)
      color: #eeeeee
      letter-spacing: 1px
      text-transform: uppercase
      padding: 0 size(16px)
      margin: 0 size(10px)
      &.focused
        opacity: 1
      &.selected
        background: rgba(238,238,238,0.12)

  .title
    font-weight: bold
    font-size: 56px
    line-height: 40px
    color: #fff
    absolute(112px, null, null, 247px)
    white-space: nowrap

  .info
    absolute(112px, null, null, 191px)
    line-height: 32px
    font-size: 20px
    text-transform: uppercase
    color: #eeeeee
    opacity: 0.5
    letter-spacing: 1px

    .age
      width: 22px
      height: 16px
      line-height: @height
      background: #eeeeee
      border-radius: 3px
      font-size: 14px
      display: inline-block
      color: #000
      vertical-align: middle
      text-align: center
      margin-right: 16px
      font-weight: bold
      letter-spacing: 0

  .controls
    height: 56px
    line-height: @height
    font-size: 20px
    color: #eeeeee
    letter-spacing: 1px
    absolute(112px, null, 112px, 112px)

    .nav-button
      margin-left: 12px
      display: inline-block
      vertical-align: middle

    .nav-button.watch
      height: 56px
      line-height: @height
      background-color: #3333ff;
      padding: 0 20px
      letter-spacing: 1px
      font-size: 20px
      font-weight: 500
      color: #fbfdff
      text-transform: uppercase

    .right
      position: absolute
      height: 100%
      top: 0
      right: 12px
      font-size: 22px
      letter-spacing: 0.5px