<script>
import focusAreaMixin from '@/mixins/focusArea'

export default {
  name: 'alert-popup',
  mixins: [focusAreaMixin],
  data: () => ({
    defaultFocus: 'ok'
  }),
  methods: {
    close() {
      this.onClose()
    },
    open() {
      this.onOpen()
    },
    success() {
      this.$emit('success')
      this.onClose()
    },
    onClose() {
      this.hidePopup('alert')
    },
    onOpen() {
      this.initArea()
    }
  },
  computed: {
    show() {
      return this.$store.state.popup.theme.alert
    }
  },
  updated() {
    if (this.show) this.open()
  }
}
</script>

<style lang="stylus">
.alert-popup
  &-mask
    position fixed
    z-index 9998
    top 0
    left 0
    width 100%
    height 100%
    background-color rgba(0, 0, 0, 0.5)
    display table
    transition opacity 0.3s ease

  &-wrapper
    display table-cell
    vertical-align middle

  &-container
    width 720px
    margin 0px auto
    padding 40px 56px
    background-color #1f2127
    color #fff
    border-radius 2px
    box-shadow 0 2px 8px rgba(0, 0, 0, 0.33)
    transition all 0.3s ease
    font-family Helvetica, Arial, sans-serif

  &-header
    margin-top 0
    font-size 56px
    margin-bottom 24px

  &-body
    margin-bottom 24px

  &-footer
    height 60px

    &__button
      float right
      line-height 60px
      padding 0 30px
      background-color rgba(255, 255, 255, 0.1)
      margin-left 8px

      &_next
        background-color #234086

  /*
   * The following styles are auto-applied to elements with
   * transition="alert-popup" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the alert-popup transition by editing
   * these styles.
   */
  &-enter
    opacity 0

  &-leave-active
    opacity 0

  &-enter &-container, &-leave-active &-container
    -webkit-transform scale(1.1)
    transform scale(1.1)
</style>

<template>
  <transition name="alert-popup">
    <div v-show="show" class="alert-popup-mask">
      <div class="alert-popup-wrapper">
        <div class="alert-popup-container">

          <div class="alert-popup-header">
            <slot name="header">
              default header
            </slot>
          </div>

          <div class="alert-popup-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="alert-popup-footer">
              <nav-item ref="ok" @action="success" class="alert-popup-footer__button alert-popup-footer__button_next">Продолжить</nav-item>
              <nav-item ref="no" @action="close" class="alert-popup-footer__button">Нет, спасибо</nav-item>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
