<script>
import NavItem from '../ui/NavItem'
import utils from '@/utils/utils'

export default {
  name: 'progress-bar',
  extends: NavItem,
  props: {
    left: {
      default: null
    },
    right: {
      default: null
    }
  },
  data() {
    return {
      seekCursorX: 0,
      seekTime: 0
    }
  },
  computed: {
    duration() {
      return this.$store.state.player.duration
    },
    progressPercents() {
      const state = this.$store.state.player
      return state.currentTime / state.duration * 100 || 0
    },
    bufferedPercents() {
      const state = this.$store.state.player
      return state.buffered / state.duration * 100 || 0
    },
    seekTimeString() {
      return utils.formatMMSS(this.seekTime)
    }
  },

  methods: {
    mouseMove(e) {
      const rect = this.$el.getBoundingClientRect()
      this.seekCursorX = e.clientX - rect.left

      if (this.seekCursorX > rect.width) {
        this.seekCursorX = rect.width
      }

      this.updateSeekTime()
    },
    seek(e) {
      this.$emit('seek', { time: this.seekTime })
    },
    seekByKeys() {
      this.seek()
    },
    moveSeekPoint(left) {
      const rect = this.$el.getBoundingClientRect()
      const part = rect.width / 10

      if (left) {
        this.seekCursorX -= part
      } else {
        this.seekCursorX += part
      }

      if (this.seekCursorX < 0) {
        this.seekCursorX = 0
      } else if (this.seekCursorX > rect.width) {
        this.seekCursorX = rect.width
      }

      this.updateSeekTime()
    },
    updateSeekTime() {
      const rect = this.$el.getBoundingClientRect()

      this.seekTime =
        this.seekCursorX / rect.width * this.$store.state.player.duration
    }
  },

  watch: {
    duration() {
      this.updateSeekTime()
    }
  },

  mounted() {
    this.$el.addEventListener('mousemove', this.mouseMove, false)

    this.$on('focus', e => {
      if (!e.mouse) {
        const rect = this.$el.getBoundingClientRect()
        this.seekCursorX = rect.width / 100 * this.progressPercents
        this.updateSeekTime()
      }
    })

    this.$on('nav_left', () => this.moveSeekPoint(true))
    this.$on('nav_right', () => this.moveSeekPoint())

    this.$on('action', this.seekByKeys)
  }
}
</script>

<style scoped lang="stylus">
@import '~@/style/vars.styl'

.bar
  height: 8px
  background: rgba(238,238,238,0.20)
  absolute(0px, 8px, 0, 0)
  width: 1696px

  &-wrapper
    height: 8px
    padding: 8px
    absolute(112px, null, 112px, 64px)

    &.focused
      .progress .point
        display: none
      .seek-point
        display: block

  .buffer
    height: 100%
    background-color: rgba(238, 238, 238, 0.3);
    width: 0
    position: absolute

  .progress
    height: 100%
    background-color: #3333ff
    width: 0
    position: absolute
    .point
      height: 20px
      width: 3px
      background-color: #eeeeee
      position: absolute
      right: -1.5px
      top: -6px
      display: block


  .seek-point
    height: 24px
    width: 6px
    left: 50%
    position: absolute
    right: -3px
    top: -8px
    background: #fff
    display: none

    .seek-time
      width: 57px
      height: 25px
      line-height: @height
      font-size: 22px
      letter-spacing: 0.5px
      text-align: center
      color: #eeeeee
      position: absolute
      top: -41px
      left: -25.5px

</style>

<template>
  <nav-item class="bar-wrapper" :class="{focused: focused, selected: selected}" @mousemove="mouseMove">
    <div class="bar">
      <div class="buffer" :style="{width: bufferedPercents + '%'}"></div>
      <div class="progress" :style="{width: progressPercents + '%'}">
        <div class="point"></div>
      </div>
      <div class="seek-point" :style="{left: seekCursorX + 'px'}" @click="seek">
        <div class="seek-time">{{ seekTimeString }}</div>
      </div>
    </div>
  </nav-item>
</template>
