<script>
import utils from '@/utils/utils.js'

export default {
  name: 'time-left',
  data() {
    return {}
  },
  computed: {
    timeLeft() {
      return utils.formatMMSS(
        this.$store.state.player.duration - this.$store.state.player.currentTime
      )
    }
  },

  mounted() {}
}
</script>


<template>
  <span class="time-left">-{{ timeLeft }}</span>
</template>
