<script>
export default {
  name: 'video-player',
  data() {
    return {
      state: 'stopped', // playing, stopped, paused, loading
      bufferedSeconds: 0,
      src: ''
    }
  },

  methods: {
    playURL(url) {
      this.state = 'loading'
      this.src = url
    },
    playPause() {
      if (this.state === 'playing') {
        this.$refs.video.pause()
      } else {
        this.$refs.video.play()
      }
    },
    seek(time) {
      this.$store.dispatch('player/currentTime', this.currentTime)
      this.$refs.video.currentTime = time
    },

    // events handlers
    durationChange() {
      this.$store.dispatch('player/duration', this.$refs.video.duration)
    },
    progress(e) {
      const video = this.$refs.video
      if (!video) {
        return
      }

      if (this.state !== 'playing') {
        this.state = 'playing'
      }
      this.currentTime = video.currentTime
      this.$store.dispatch('player/currentTime', this.currentTime)

      this.$emit('progress', this)
    },
    paused() {
      this.state = 'paused'
    },
    bufferProgress() {
      const video = this.$refs.video

      if (video.readyState === 4) {
        this.bufferedSeconds = video.buffered.end(0)
        this.$store.dispatch('player/buffered', this.bufferedSeconds)
      }
    },
    canplay() {
      this.$refs.video.play()
    },
    ended() {
      this.$emit('ended')
    },
    processKey(e) {
      const keys = this.$focus.keys

      if (e.which === keys.PAUSE) {
        this.$refs.video.pause()
      } else if (e.which === keys.PLAY) {
        this.$refs.video.play()
      } else if (e.which === keys.PLAYPAUSE) {
        this.playPause()
      }
    }
  },

  watch: {
    state() {
      this.$emit('statechange', this.state)
    }
  },

  mounted() {
    this.$nextTick(() => {
      this.$root.currentScreen.$on('keypress', e => this.processKey(e))
    })
  }
}
</script>


<style scoped lang="stylus">
@import '~@/style/vars.styl'

video
  fullscreen()
  background: #000
</style>

<template>
  <video width="1920" height="1080"
         ref="video"
         :src="src"
         @durationchange="durationChange"
         @timeupdate="progress"
         @progress="bufferProgress"
         @canplay="canplay"
         @ended="ended"
         @pause="paused">
  </video>
</template>
