<script>
import BaseSpinner from './components/ui/BaseSpinner'
import FETCH_MAIN_QUERY from './graphql/FetchMain.graphql'
import AlertPopup from './components/ui/popup/AlertPopup'

export default {
  name: 'App',
  data() {
    return {
      primaryTrailer: null,
      isLoaded: false
    }
  },
  apollo: {
    fetchMain: {
      query: FETCH_MAIN_QUERY,
      variables: () => ({
        lang: 'ru'
      }),
      manual: true,
      fetchPolicy: 'cache-first',
      result(...data) {
        this.fetchMainOnResult(...data)
      },
      error(...data) {
        this.fetchMainOnError(...data)
      },
      skip() {
        return !!this.primaryTrailer
      }
    }
  },
  components: {
    BaseSpinner,
    AlertPopup
  },
  created() {
    this.fetchMain()
  },
  methods: {
    fetchMainOnResult({ data, networkStatus }) {
      // console.log(data, networkStatus)
      // https://www.apollographql.com/docs/react/basics/queries.html#graphql-query-data-networkStatus'
      if (!data || networkStatus !== 7) {
        // console.log('App.vue fetchMainOnResult')
        this.isLoaded = false
        return
      }
      this.isLoaded = true
      this.primaryTrailer = data.primary_trailer

      // Установка локализации приложения
      this.$i18n.set(data.translations)
    },
    fetchMainOnError(e) {
      if (this.isLoaded) this.isLoaded = false
      // setTimeout(() => {
      //   this.fetchMain()
      // }, 5000)
    },
    fetchMain() {
      this.$apollo.queries.fetchMain.refetch()
    }
  }
}
</script>

<style lang="stylus">
@import '~@/style/vars.styl'

html, body
  overflow hidden
  margin 0
  padding 0
  font-family 'Roboto', sans-serif
  -webkit-font-smoothing antialiased
  font-size 24px
  background #000
  fullscreen()

#app
  fullscreen()

  .screen
    fullscreen()
</style>

<template>
  <div id="app">
    <base-spinner v-show="!isLoaded" />
    <router-view v-show="isLoaded" class="screen" :primaryTrailer="primaryTrailer"></router-view>
    <alert-popup />
  </div>
</template>
