<script>
export default {
  name: 'nav-item',

  props: ['action', 'left', 'right', 'up', 'down'],
  data() {
    return {
      focused: false,
      selected: false
    }
  },
  methods: {
    // action() {},
    focus(e = {}) {
      this.$focus.setFocus(this)
      this.$emit('focus', e)
    },
    blur() {
      this.$focus.setFocus(null)
    }
  },

  mounted() {
    this.$el.addEventListener('mouseenter', () => {
      this.focus({ mouse: true })
    })

    this.$el.addEventListener('mouseleave', () => {
      this.blur({ mouse: true })
    })

    this.$el.addEventListener('click', () => {
      this.$emit('action', { mouse: true })
    })
  }
}
</script>

<style lang="stylus">
.nav-button
  cursor: pointer
  &.focused {
    outline: 3px solid orangered
  }
</style>

<template>
  <div class="nav-button" :class="{focused: focused, selected: selected}"><slot></slot></div>
</template>
